.tableContainer {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1600px;
}

/* Header */
.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.filterIcon {
  font-size: 20px;
  cursor: pointer;
}

/* Table Wrapper */
.tableWrapper {
  overflow-x: auto;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background: #f8f9fc;
  font-size: 14px;
  cursor: pointer;
}

.table th:hover {
  background: #e0e0e0;
}

.table tr:nth-child(even) {
  background: #f9f9f9;
}
