/* Sidebar Container */
.sidebar {
  width: 250px;
  margin: 15px;
  background: #ffffff;
  color: #201f1f;
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.break {
  opacity: 0.4;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Sidebar Menu */
.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 7px;
}

/* Sidebar Links */
.menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.7;
  padding: 12px;
  border-radius: 6px;
}

/* Icon Spacing */
.icon {
  font-size: 20px;
  margin-right: 10px;
}

/* Hover & Active Styles */
.menu li a:hover,
.menu li .active {
  background: #070692;
  color: #ffffff;
}

/* Logout Button (Always at Bottom) */
.logout {
  margin-top: auto;
}

.logout a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #d9534f;
  font-size: 16px;
  padding: 10px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.logout a:hover {
  background: #d9534f;
  color: #ffffff;
}
