.container {
  display: flex;
  background-color: #f0f1f5;
}

.main {
  flex-grow: 1;
  padding: 20px;
}

.statsContainer {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  width: 100%; /* Ensures full width */
  justify-content: space-between;
}

.statsContainer > * {
  flex: 1; /* Makes each child element take equal width */
  max-width: 33%; /* Ensures three equal sections */
}
